<div class="modern">
    <div class="container-fluid">
        <!-- Header -->
        <div class="header">
            <div class="row">
                <div class="col-4">
                    <div class="header-title">
                        <h1 id="header_text"></h1>
                        <h2 id="header_subtext"></h2>
                        <p id="header_descript"></p>
                    </div>
                </div>
                <div class="col-8">
                    <div id="image-container">
                        <div class="barra-inclinada"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Form -->
        <div id="contact" class="form">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 text-center">
                        <div class="container_header_texts"> 
                            <h2 id="form_header_text"></h2>
                            <h3 id="form_header_subtext"></h2>
                            <p id="form_header_descript"></p>
                        </div>
                    </div>
                    <div class="col-md-6 mb-4 text-center">
                        <div id="fields-container"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Seccion 3 -->
        <div id="aboutus" class="about">
            <div class="container">
                <div class="row">
                    <div class="col-12 mb-4 text-center">
                        <h2 id="about-title"></h2>
                        <p id="about-descript"></p>
                        <div id="aboutcars-container"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Seccion 2 -->
        <div id="products" class="products">
            <div class="container">
                <div class="row">
                    <div class="col-12 mb-4 text-center">
                        <h2 id="products-title"></h2>
                        <p id="products-descript"></p>
                        <div id="products-container"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- html_content -->
        <div id="html_content"></div>
    </div>
</div>