<div class="events">
  <div class="container-fluid">
    
    <div class="header">
      <div class="row">
        <div class="col-12">
          <div id="image-container">
            <div class="header-title text-center">
                <h1 id="header_text"></h1>
                <h2 id="header_subtext"></h2>
                <p id="header_descript"></p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="html_content" class="events"></div>
    
  </div>
</div>
