<div class="cycles">
    <div class="container-fluid">
        <div class="header">
            <div class="row">
                <div class="col-4">
                    <div class="header-title">
                        <h1 id="header_text" class="mb-4"></h1>
                        <h2 id="header_subtext" class="mb-4"></h2>
                    </div>
                </div>
                <div class="col-8">
                    <div id="image-container">
                        <div class="barra-inclinada"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="details">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center">
                        <p style="max-width: 800px;margin: auto" id="header_descript"></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="form">
            <div class="container">
                <div class="row">
                    <div class="col-12 mb-4 text-center">
                        <div id="fields-container"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="products">
            <div class="container">
                <div class="row">
                    <div class="col-12 mb-4 text-center">
                        <h2 id="products-title"></h2>
                        <p id="products-descript"></p>
                        <div id="products-container"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="about">
            <div class="container">
                <div class="row">
                    <div class="col-12 mb-4 text-center">
                        <h2 id="about-title"></h2>
                        <p id="about-descript"></p>
                        <div id="aboutcars-container"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="row">
                <div class="col-4">
                    <div class="container-image-logo"></div>
                </div>
                <div class="col-4">
                    <div id="footer-left"></div>
                </div>
                <div class="col-4">
                    <div id="footer-right"></div>
                </div>
            </div>
        </div>
    </div>
</div>