<div class="clasic">
    <div class="container-fluid">
        <!-- Header -->
        <div class="header">
            <div class="row">
                <div class="col-12">
                    <div id="image-container">
                        <div class="header-title">
                            <h1 id="header_text" class="mb-4"></h1>
                            <h2 id="header_subtext" class="mb-4"></h2>
                        </div>    
                    </div>
                </div>
            </div>
        </div>
        <!-- Seccion 2 -->
        <div id="products" class="products">
            <div class="container">
                <div class="row">
                    <div class="col-12 mb-4 text-center">
                        <h2 id="products-title"></h2>
                        <p id="products-descript"></p>
                        <div id="products-container"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Seccion 3 -->
        <div id="aboutus" class="about">
            <div class="container">
                <div class="row">
                    <div class="col-12 mb-4 text-center">
                        <h2 id="about-title"></h2>
                        <p id="about-descript"></p>
                        <div id="aboutcars-container"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Form -->
        <div id="contact" class="form">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center">
                        <h2 id="header_descript"></h2>
                    </div>
                    <div class="col-12 mb-4 text-center">
                        <div id="fields-container"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer -->
        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-4">
                        <div class="container-image-logo"></div>
                    </div>
                    <div class="col-4">
                        <div id="footer-left"></div>
                    </div>
                    <div class="col-4">
                        <div id="footer-right"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>